[submodule "externals/Catch"]
	path = externals/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "rlutil"]
	path = externals/rlutil
	url = https://github.com/PerMalmberg/rlutil.git
[submodule "externals/CMakeUtils"]
	path = externals/CMakeUtils
	url = https://github.com/PerMalmberg/CMakeUtils.git
